.contenedor {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 430px;
    background: var(--blanco);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.logo img {
    width: 180px;
    height: auto;
    object-fit: contain;
}

.login-header {
    text-align: center;
    margin-bottom: 25px;
}

.login-header h2 {
    margin: 0;
    font-size: 24px;
}

.login-header p {
    margin: 5px 0 0;
    color: #777;
    font-size: 14px;
}

.logo--menu {
    width: calc(100% + 40px); /*Ajusta los 40px según el padding de tu tarjeta*/
    margin-top: -13px;        /*Sube la imagen al borde superior*/
    margin-left: -20px;       /*Hacia la izquierda*/
    margin-right: -20px;      /*Hacia la derecha*/
    line-height: 0;
    overflow: hidden;         /*Bordes redondeados arriba*/
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.logo--menu img {
    width: 100%;
    height: 80px;
    display: block;
    object-fit: cover;
}